html {
    padding: 0;
    margin: 0;
}

body {
    display: block;
    max-width: 700px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.name {
    font-size: 200%;
    line-height: 120%;
    font-weight: 400;
    display: block;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.info {
    display: block;
    text-align: center;
    margin-top: 4px;
    font-size: 0.75rem;
    text-decoration: none;
}

.info span {
    text-align: center;
}

h1 {
    border: none;
    text-align: center;
    font-weight: bold;
    padding: 0;
    margin: 1rem 1rem 0 0;
}

h2 {
    font-size: 125%;
    font-weight: 400;
    border-bottom: 1px solid #bcbcbc;
    color: #0D47A1;
    margin: 0;
    margin-top: 4px; 
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

h3 {
    font-size: 100%;
    font-weight: 400;
    margin: 8px 0px 0px 0px;
}

h4 {
    font-style: italic;
    margin: 4px 0px 4px 0px;
}

.screenonly {
    display: none;
}

.skillgrid {
    margin-top: 8px;
    display: grid;
    grid-template-columns: auto auto auto;
}

p, ul {
    font-size: 100%;
    margin: 0;
}

ul, ol {
    padding: 0 0 0 1.2rem;
    margin: 0;
}

li {
    line-height: 125%;
    /* change this for tighter spacing */
    /* default 150% */
}

/* assume images are icons */
/* icons for skills/tools */
.info img {
    width: 15px;
}

/* assume images are icons */
/* icons for contact info */
.info a img {
    width: 12px;
}

a {
    color: #0D47A1;
    text-decoration: none;
}

code {
    color: black;
}

time {
    float: right;
    font-size: inherit;
    font-weight: 400;
    margin: 0;
}

location {
    font-weight: normal;
    font-style: italic;
    color: #878686;
}

